---
import BaseLayout from "../layouts/base-layout.astro";
import LogoText from "../components/logo.astro";

const title = "Clips 🚀";
const description = "A collection of clips from my stream";
---
<BaseLayout title={title} description={description}>
	<LogoText></LogoText>
	<a href="/">Index</a>
</BaseLayout>