---
// Imports
import BaseLayout from "../layouts/base-layout.astro";
import LogoText from "../components/logo.astro";

const title = "Astro Main 🚀";
---

<BaseLayout title={title}>
	<a href="/">Main</a>
	<a href="/redes">Redes</a>
	<a href="/sotano">Sotano</a>
	<a href="/proyects">Projects</a>
	<a href="/clips">Clips</a>

	<LogoText />
</BaseLayout>
