---
import Card_vue from '../components/card.vue';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro 🚀</h1>
		<br>
		<Card_vue title="Hello World" />
	</body>
</html>


<style>
	*{
	font-family: sans-serif;

	}
</style>